.section {
  margin-top: 30px;
}

.section h2 {
  font-size: 20px;
  margin-bottom: 15px;
}

.song-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.song-item {
  display: flex;
  align-items: center;
  gap: 15px;
  background-color: #2f2739;
  padding: 10px;
  border-radius: 10px;
}

.song-item img {
  width: 60px;
  height: 60px;
  border-radius: 10px;
  object-fit: cover;
}

.song-info {
  display: flex;
  flex-direction: column;
}

.favorite-button {
  background: none;
  border: none;
  color: #aaa;
  font-size: 20px;
  cursor: pointer;
  transition: color 0.3s ease;
}

.favorite-button.active {
  color: red;
}
